.row {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  width: 70%;
}

.page-container{
    display: flex;
    flex-direction: column;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #efefef;
  height: calc(100vh - 25px);
}

.button-container {
  width: 30%;
  display: flex;
  display: flex;
  flex-direction: column;
  padding: 30px;
  cursor: pointer;
}

.button {
  height: 30px;
  width: 140px;
  background-color: #2b8ead;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 0 8px 6px -6px #333333;
}

.button-content-container {
  padding: 7px 0;
}

.col {
  flex: 0 0 33%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
}

@media (max-width: 375) {
  .row {
    flex-direction: column;
  }
  .header-content{
    width: 70%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
}
  .col{
    flex: 0 0 33%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    background-color: #2f454e;
    font-size: 41px;
    margin: 5px 0 0 0;
    color: black;
  }
  .header{
    width: 70%;
    text-align: center;
    background-color: black;
    padding: 10px 0;
    color: white;
 }
  .container {
    display: flex;
    /* justify-content: center; */
    flex-direction: column-reverse;
    height: auto;
    background-color: white;
    align-items: center;
    padding: 0;
  }
  .button-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 30px;
    align-items: center;
    justify-content: center;
  }
  .button {
    height: 30px;
    width: 120px;
  }
  .button-content-container {
    padding: 7px 10px;
  }
  .col {
    background-color: #efefef;
  }
}
@media (max-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
 .header-content{
     width: 70%;
     background-color: black;
     color: white;
     text-align: center;
     padding: 10px 0;
 }
  .row {
    flex-direction: column;
    padding: 5px 0;
  }
 
  .col{
    flex: 0 0 33%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    background-color: #2f454e;
    font-size: 41px;
    margin: 5px 0 0 0;
    color: black;
  }
  .card-bg-1 {
    background: -webkit-linear-gradient(left, #2f454e, #2f454e 3%, #efefef 3%, #efefef);
    /* background-color: #efefef; */
  }
  .card-bg-2 {
    background: -webkit-linear-gradient(left, #2b8ead, #2b8ead 3%, #efefef 3%, #efefef);
  }
  .card-bg-3 {
    background: -webkit-linear-gradient(left, #333333, #333333 3%, #efefef 3%, #efefef);
  }
  .card-bg-4 {
    background: -webkit-linear-gradient(left, #2b8ead, #2b8ead 3%, #efefef 3%, #efefef);
  }
  .card-bg-5  {
    background: -webkit-linear-gradient(left, #333333, #333333 3%, #efefef 3%, #efefef);
  }
  .card-bg-6 {
    background: -webkit-linear-gradient(left, #bfbfbf, #bfbfbf 3%, #efefef 3%, #efefef);
  }
  .card-bg-7 {
    background: -webkit-linear-gradient(left, #bfbfbf, #bfbfbf 3%, #efefef 3%, #efefef);
  }
  .card-bg-8 {
    background: -webkit-linear-gradient(left, #2B8EAD, #2B8EAD 3%, #efefef 3%, #efefef);
  }
  .card-bg-9 {
    background: -webkit-linear-gradient(left, #333333, #333333 3%, #efefef 3%, #efefef);
  }
  .container {
    display: flex;
    /* justify-content: center; */
    flex-direction: column-reverse;
    height: auto;
    background-color: white;
    align-items: center;
    padding: 0;
  }
 .header{
    width: 70%;
    text-align: center;
    background-color: black;
    padding: 10px 0;
    color: white;
 }
  .button-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 5px 0;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .button {
    height: 30px;
    width: 120px;
  }
  .button-content-container {
    padding: 7px 10px;
  }
}

.card-bg-1 {
  background-color: #2f454e;
}
.card-bg-2 {
  background-color: #2b8ead;
}
.card-bg-3 {
  background-color: #333333;
}
.card-bg-4 {
  background-color: #2b8ead;
}
.card-bg-5  {
    background-color: #333333;
}
.card-bg-6 {
  background-color: #bfbfbf;
}
.card-bg-7 {
  background-color: #bfbfbf;
}
.card-bg-8 {
  background-color: #2B8EAD;
}
.card-bg-9 {
  background-color: #333333;
}

.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    width: 100%;
}
